body {
    /* background-color: #eee; */
    font-family: monospace;
    font-size: 14px;
    margin: auto;
    width: 600px;
    padding-top: 20px;
    color:#fff;
  }
  
  table {
    background-color:#7D7D7D;
    font-family: monospace;
    font-size: 14px;
    width: 100%;
    border-radius:14px;
   
  }
  
  select, input[type="number"] {
    box-sizing: border-box;
    width: 100%;
    border-radius:6px;
  }
  
  h2 {
    text-align: center;
    color:#111;
  }
  button{
    background-color:#fff;
    padding:5px 4px;
    border:none;
    outline:none;
    border-radius:7px;
    margin:0 auto;
    width:20%;
    cursor: pointer;
  }
  button:hover{
    background-color: #7e7;
  }